.intromilk {
  @media ($mobile) {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
  }

  padding: 80px 20px;
}

.aboutmilk {
  img {
    max-height: 420px;
    width: 100%;
    border-radius: 25px;
  }
}

.milktext {
  justify-content: center;
  align-items: center;
  max-width: 620px;
}

.truth {
  @media ($mobile) {
    padding: 40px 20px;
  }

  h1 {
    @media ($mobile) {
      margin-top: 0px;
      text-align: center;
    }
  }

  background: linear-gradient(#414951, #000000);
  padding: 80px 20px;
  color: white;

  #cow {
    border-radius: 50px;
    width: 100%;
  }
}

.truthtext {
  @media ($mobile) {
    text-align: center;
    order: -1;
  }
}

.more {
  @media ($mobile) {
    padding: 30px 20px;
  }

  h1 {
    @media ($mobile) {
      margin-top: 15px;
    }
  }
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  background: #3f4952;
  color: white;
  padding: 80px 0px;

  p {
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
}
