.intromilk {
  padding: 80px 20px;
}

.aboutmilk {
  img {
    max-height: 420px;
    width: 100%;
    border-radius: 25px;
  }
}

.milktext {
  justify-content: center;
  align-items: center;
  max-width: 620px;
}

.truth {
  background: linear-gradient(#414951, #000000);
  padding: 80px 20px;
  color: white;

  #cow {
    border-radius: 50px;
    width: 100%;
  }
}

.more {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  background: #3f4952;
  color: white;
  padding: 80px 0px;

  p {
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
}
