#contactin {
  @media ($mobile) {
    padding: 30px 30px;
  }

  p {
    @media ($mobile) {
      font-size: 14px;
    }
    font-weight: 200;
  }
  color: var(--cum);
  font-family: Poppins;
  background-color: var(--text);
  place-content: center;
  text-align: center;
  padding: 60px;
  margin: 0px;

  h2 {
    @media ($mobile) {
      font-size: 30px;
    }
    margin: 0px;
    font-size: 42px;
  }

  #contactform {
    @media ($mobile) {
      padding-bottom: 20px;
    }
    padding-top: 10px;
    display: grid;
    width: 100%;
    gap: 20px;

    ::placeholder {
      color: #fcfaf450;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  input,
  select {
    // margin: 20px 0 20px 0;
    border-radius: 15px;
    border-color: #fcfaf4;
    border-style: solid;
    display: block;
    width: 100%;
    padding: 10px 20px;
    height: 50px;
    background: #3f4952;
    color: #fcfaf4;

    &:focus {
      background-color: #fcfaf4;
      outline: 0;
      color: #3f4952;
    }
  }
}

#textarea {
  height: 100px;
  width: 100%;
  border-radius: 15px;
  border-color: #fcfaf4;
  border-style: solid;
  display: block;
  width: 100%;
  padding: 10px 20px;
  background: #3f4952;
  color: #fcfaf4;
  resize: none;

  &:focus {
    background-color: #fcfaf4;
    outline: 0;
    color: #3f4952;
  }
}
.contact {
  @media ($mobile) {
    grid-template-columns: 1fr;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    @media ($mobile) {
      display: none;
    }
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
}
