*,
*:before,
*:after {
  box-sizing: border-box;
}

::placeholder {
  color: var(--cum);
  opacity: 1;
}

/* Color Variables */
:root {
  --cum: #fcfaf4;
  --white: #ffffff;
  --shadow: #00000029;
  --text: #3f4952;
  --scum: #b4b4b4;
}

@keyframes test {
  0% {
    color: red;
  }
  50% {
    color: pink;
  }
  100% {
    color: red;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Default styles */
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 40px;
  width: 100vw;
  height: 100px;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
}
@media (max-width:550px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
}
.header .linka {
  display: flex;
  gap: 40px;
}
@media (max-width:550px) {
  .header .linka {
    gap: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.header img {
  height: 50px;
}
.header h4 {
  margin: 0;
}
@media (max-width:550px) {
  .header h4 {
    font-size: 14px;
  }
}
.header h4:hover {
  animation: test 2s infinite;
}

body,
html {
  color: var(--text);
  font-family: Poppins;
  background-color: var(--cum);
  width: 100vw;
  overflow-x: hidden;
}

.website {
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
  margin: 180px auto 0 auto;
}
@media (max-width:550px) {
  .website {
    margin-top: 140px;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  padding: 0px 0 0 80px;
}
@media (max-width:550px) {
  .main {
    display: block;
    padding: 20px;
  }
}
.main h1 {
  font-size: 50px;
}
@media (max-width:550px) {
  .main h1 {
    font-size: 32px;
  }
}
.main p {
  width: 100%;
}
.main #maininfo {
  display: flex;
  align-items: center;
}
.main .glasswrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 80px;
}
@media (max-width:550px) {
  .main .glasswrap {
    display: none;
  }
}
.main button {
  background-color: var(--cum);
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 13px 20px;
  margin-top: 50px;
  border: none;
  font-weight: bold;
}
@media (max-width:550px) {
  .main button {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.flavors {
  margin-top: 80px;
}

.types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media (max-width:550px) {
  .types {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.types div {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  text-align: center;
}
.types img {
  padding: 40px 115px 0px 115px;
  width: 100%;
}
.types label {
  font-size: 12px;
  color: #b4b4b4;
}

.info {
  display: flex;
  align-items: center;
  padding-top: 80px;
  margin-bottom: 80px;
}
@media (max-width:550px) {
  .info {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.info img {
  width: 100%;
  margin-right: 112px;
}
@media (max-width:550px) {
  .info img {
    margin-right: 0;
  }
}

#formin {
  color: var(--cum);
  font-family: Poppins;
  background-color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
@media (max-width:550px) {
  #formin {
    padding: 20px 30px 20px 30px;
  }
}
#formin .cumform {
  width: 100%;
  max-width: 600px;
  text-align: center;
}
#formin input,
#formin select {
  margin: 20px 0 20px 0;
  border-radius: 15px;
  border-color: #fcfaf4;
  border-style: solid;
  display: block;
  width: 100%;
  padding: 10px;
  height: 50px;
  background: #3f4952;
  color: #fcfaf4;
  font-weight: bold;
}
#formin button {
  background-color: var(--cum);
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 13px 20px;
  border: none;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 35px;
  outline: none;
}

.footer {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 40px;
}
.footer img {
  height: 51px;
}
.footer p {
  margin: none;
}
.footer #socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.footer #rights {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/*# sourceMappingURL=mystyles.css.map */
