#contactin {
  @media ($mobile) {
    padding: 30px 30px;
  }

  p {
    @media ($mobile) {
      font-size: 14px;
      text-align: center;
    }
    font-weight: 200;
  }
  color: var(--milk);
  font-family: Poppins;
  background-color: var(--text);
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 80px 60px 0px 60px;
  margin: 0px;
  width: 100%;

  h2 {
    @media ($mobile) {
      font-size: 30px;
    }
    text-align: center;
    margin: 0px;
    font-size: 42px;
    width: 100%;
  }

  #contactform {
    @media ($mobile) {
      padding-bottom: 20px;
    }
    padding-top: 10px;
    display: grid;
    width: 100%;
    gap: 20px;
    max-width: 600px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact {
  @media ($mobile) {
    grid-template-columns: 1fr;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    @media ($mobile) {
      display: none;
    }
    width: 100%;
    height: 750px;
    object-fit: cover;
  }
}
