.flavors-section {
  margin-top: 80px;
}

.flavors {
  @media ($mobile) {
    grid-template-columns: 1fr;
  }

  @media ($tablet) {
    gap: 20px;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  a {
    background-color: var(--white);
    box-shadow: $shadow;
    border-radius: $br;
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }
  }

  img {
    max-width: 175px;
    width: 100%;
  }

  h3 {
    margin-bottom: 0;

    small {
      color: var(--neutral);
    }
  }
}
