footer {
  @media ($mobile) {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;

  img {
    height: 40px;
  }
}
