input,
select,
textarea {
  border-radius: $br;
  border: solid 2px var(--milk);
  display: block;
  width: 100%;
  padding: 10px 20px;
  background: var(--text);
  color: var(--milk);

  &:focus {
    background-color: var(--milk);
    outline: 0;
    color: var(--text);
  }

  ::placeholder {
    color: #fcfaf480;
    opacity: 1;
  }
}

input,
select {
  height: 60px;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: 50%;
}

textarea {
  height: 100px;
  resize: none;
}
