input,
select,
textarea {
  // margin: 20px 0 20px 0;
  border-radius: $br;
  border: solid 2px var(--milk);
  display: block;
  width: 100%;
  padding: 10px 20px;
  background: var(--text);
  color: var(--milk);

  &:focus {
    background-color: var(--milk);
    outline: 0;
    color: var(--text);
  }
  ::placeholder {
    color: #fcfaf480;
    opacity: 1;
  }
}
input,
select {
  height: 60px;
}
textarea {
  height: 100px;
  resize: none;
}
