.header {
  @media ($mobile) {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  padding: 0 40px;
  width: 100vw;
  height: $header-height;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;

  img {
    height: 40px;
  }

  .linka {
    @media ($mobile) {
      gap: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    display: flex;
    gap: 40px;

    a {
      text-decoration: underline 0.15em transparent;
      transition: text-decoration-color 200ms, color 200ms, transform 200ms;

      &.active {
        color: var(--active);
      }

      &:hover {
        color: var(--active);
        text-decoration-color: var(--active);
        transform: translateY(-2px);
      }

      h4 {
        @media ($mobile) {
          font-size: 14px;
        }

        margin: 0;
      }
    }
  }
}
