.info-section {
  @media ($mobile) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  display: flex;
  align-items: center;
  gap: 80px;
  padding: 80px 0;

  img {
    width: 100%;
  }
}
