.info {
  @media ($mobile) {
    display: grid;
    grid-template-columns: 1fr;
  }

  display: flex;
  align-items: center;
  padding-top: 80px;
  margin-bottom: 80px;

  img {
    @media ($mobile) {
      margin-right: 0;
    }

    width: 100%;
    margin-right: 112px;
  }
}
