*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--text);
  font-family: Poppins;
  background-color: var(--milk);
  line-height: 1.5;
  padding-top: $header-height;
}

strong {
  color: var(--active);
  font-weight: bold;
}

small {
  font-size: 70%;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
  margin: auto;
}

.hot {
  color: #ff7917 !important;
}

.cold {
  color: #3ba7c7 !important;
}

.recycle {
  color: #72a03f !important;
}
